In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/laptops.csv')
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [3]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Laptop        2160 non-null   object
 1   Status        2160 non-null   object
 2   Brand         2160 non-null   object
 3   Model         2160 non-null   object
 4   CPU           2160 non-null   object
 5   RAM           2160 non-null   int64
 6   Storage       2160 non-null   int64
 7   Storage type  2118 non-null   object
 8   GPU           789 non-null    object
 9   Screen        2156 non-null   float64
 10  Touch         2160 non-null   object
 11  Final Price   2160 non-null   float64
dtypes: float64(2), int64(2), object(8)
memory usage: 202.6+ KB

In [5]:
#lets drop some columns
df = df.drop(labels=['Laptop','Status','Model'],axis=1)

In [6]:
df.head()

,Brand,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,Asus,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,Asus,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [7]:
df =df.drop(labels=['Touch'],axis=1)

In [11]:
df.head()

,Brand,CPU,RAM,Storage,Storage type,GPU,Screen,Final Price
0,Asus,Intel Core i5,8,512,SSD,NaN,15.6,1009.00
1,Alurin,Intel Celeron,8,256,SSD,NaN,15.6,299.00
2,Asus,Intel Core i3,8,256,SSD,NaN,15.6,789.00
3,MSI,Intel Core i7,16,1000,SSD,RTX 3050,15.6,1199.00
4,HP,Intel Core i5,16,512,SSD,NaN,15.6,669.01

In [8]:
df['Storage type'].unique()

array(['SSD', 'eMMC', nan], dtype=object)

In [9]:
mode = df[df['Storage type'].notna()]['Storage type'].mode()

In [10]:
mode

0    SSD
Name: Storage type, dtype: object

In [11]:
df['Storage type1'] = df['Storage type'].fillna(mode)[0]

In [12]:
df.head()

,Brand,CPU,RAM,Storage,Storage type,GPU,Screen,Final Price,Storage type1
0,Asus,Intel Core i5,8,512,SSD,NaN,15.6,1009.00,SSD
1,Alurin,Intel Celeron,8,256,SSD,NaN,15.6,299.00,SSD
2,Asus,Intel Core i3,8,256,SSD,NaN,15.6,789.00,SSD
3,MSI,Intel Core i7,16,1000,SSD,RTX 3050,15.6,1199.00,SSD
4,HP,Intel Core i5,16,512,SSD,NaN,15.6,669.01,SSD

In [13]:
df['GPU'].unique()

array([nan, 'RTX 3050', 'RTX 4060', 'RTX 4050', 'RTX 3060', 'RTX 4070',
       'RTX 2050', 'GTX 1650', 'RTX 3070', '610 M', 'RTX 4080',
       'RX 6500M', 'MX 550', 'RTX 3080', 'RTX 4090', 'RX 7600S', 'A 370M',
       'GTX 1660', 'RTX A1000', 'RTX 3000', 'T 1200', 'Radeon Pro 5300M',
       'A 730M', 'Radeon Pro RX 560X', 'RTX A5500', 'Radeon Pro 5500M',
       'T 500', 'T 550', 'RTX A3000', 'T 2000', 'T 600', 'T 1000',
       'Radeon RX 6600M', 'MX 330', 'RTX A2000', 'MX 450', 'RTX 2070',
       'RX 6800S', 'RTX 2080', 'RTX 2060', 'GTX 1050', 'MX 130', 'P 500',
       'RX 6700M', 'GTX 1070'], dtype=object)

In [16]:
mode = df[df['GPU'].notna()]['GPU'].mode()[0]

In [17]:
mode

'RTX 3050'

In [18]:
df['Gpu']=df['GPU'].fillna(mode)

In [19]:
df.head()

,Brand,CPU,RAM,Storage,Storage type,GPU,Screen,Final Price,Storage type1,Gpu
0,Asus,Intel Core i5,8,512,SSD,NaN,15.6,1009.00,SSD,RTX 3050
1,Alurin,Intel Celeron,8,256,SSD,NaN,15.6,299.00,SSD,RTX 3050
2,Asus,Intel Core i3,8,256,SSD,NaN,15.6,789.00,SSD,RTX 3050
3,MSI,Intel Core i7,16,1000,SSD,RTX 3050,15.6,1199.00,SSD,RTX 3050
4,HP,Intel Core i5,16,512,SSD,NaN,15.6,669.01,SSD,RTX 3050

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Brand          2160 non-null   object
 1   CPU            2160 non-null   object
 2   RAM            2160 non-null   int64
 3   Storage        2160 non-null   int64
 4   Storage type   2118 non-null   object
 5   GPU            789 non-null    object
 6   Screen         2156 non-null   float64
 7   Final Price    2160 non-null   float64
 8   Storage type1  2160 non-null   object
 9   Gpu            2160 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 168.9+ KB

In [36]:
df.isnull().sum()

Brand               0
CPU                 0
RAM                 0
Storage             0
Storage type       42
GPU              1370
Screen              4
Final Price         0
Storage type1      42
Gpu              1370
dtype: int64

In [21]:
df['GPU'].isnull().sum()

1371

In [38]:
df[['Gpu','GPU']]

           Gpu       GPU
0     RTX 3050  RTX 3050
1          NaN       NaN
2          NaN       NaN
3     RTX 3050  RTX 3050
4          NaN       NaN
...        ...       ...
2155  RTX 3060  RTX 3060
2156  RTX 3070  RTX 3070
2157  RTX 3080  RTX 3080
2158       NaN       NaN
2159       NaN       NaN

[2160 rows x 2 columns]

In [22]:
df['Storage type'].fillna(df['Storage type'].mode().iloc[0], inplace=True)

In [24]:
df.isnull().sum()

Brand               0
CPU                 0
RAM                 0
Storage             0
Storage type        0
GPU              1371
Screen              4
Final Price         0
Storage type1       0
Gpu                 0
dtype: int64

In [25]:
df[['Storage type','Storage type1']]

     Storage type Storage type1
0             SSD           SSD
1             SSD           SSD
2             SSD           SSD
3             SSD           SSD
4             SSD           SSD
...           ...           ...
2155          SSD           SSD
2156          SSD           SSD
2157          SSD           SSD
2158          SSD           SSD
2159          SSD           SSD

[2160 rows x 2 columns]

In [26]:
df['Storage type1'].isnull().sum()

0

In [28]:
df['Gpu'].isnull().sum()

0

In [29]:
df.duplicated().sum()

84

In [33]:
df.drop_duplicates(inplace=True)

In [34]:
df.duplicated().sum()

0

In [35]:
df.head()

,Brand,CPU,RAM,Storage,Storage type,GPU,Screen,Final Price,Storage type1,Gpu
0,Asus,Intel Core i5,8,512,SSD,NaN,15.6,1009.00,SSD,RTX 3050
1,Alurin,Intel Celeron,8,256,SSD,NaN,15.6,299.00,SSD,RTX 3050
2,Asus,Intel Core i3,8,256,SSD,NaN,15.6,789.00,SSD,RTX 3050
3,MSI,Intel Core i7,16,1000,SSD,RTX 3050,15.6,1199.00,SSD,RTX 3050
4,HP,Intel Core i5,16,512,SSD,NaN,15.6,669.01,SSD,RTX 3050

In [37]:
df['Screen'].unique()

array([15.6 , 17.3 , 14.  , 16.1 , 13.3 , 16.  , 13.6 , 17.  , 15.3 ,
       14.5 , 13.4 , 14.2 , 18.  , 14.1 , 12.4 , 13.5 , 16.2 , 15.  ,
       11.6 , 13.  , 10.5 , 14.4 ,   nan, 12.3 , 15.4 , 12.5 , 10.1 ,
       10.95, 12.  , 13.9 ])

In [38]:
df['Screen'].fillna(df['Screen'].mode().iloc[0], inplace=True)

In [39]:
df['Screen'].isnull().sum()

0

In [40]:
# Convert the string column to float columns
df['Screen'] = df['Screen'].astype(float)

In [41]:
#segrate the nummerical columns and categorical columns

numerical_columns = df.columns[df.dtypes!= 'object']

categorical_columns = df.columns[df.dtypes=='object']

print("Numerical_columns",numerical_columns)
print('Categorical_columns',categorical_columns)

Numerical_columns Index(['RAM', 'Storage', 'Screen', 'Final Price'], dtype='object')
Categorical_columns Index(['Brand', 'CPU', 'Storage type', 'GPU', 'Storage type1', 'Gpu'], dtype='object')

In [42]:
df = df.drop(labels=['Storage type',"GPU"],axis=1)

In [43]:
df.head()

,Brand,CPU,RAM,Storage,Screen,Final Price,Storage type1,Gpu
0,Asus,Intel Core i5,8,512,15.6,1009.00,SSD,RTX 3050
1,Alurin,Intel Celeron,8,256,15.6,299.00,SSD,RTX 3050
2,Asus,Intel Core i3,8,256,15.6,789.00,SSD,RTX 3050
3,MSI,Intel Core i7,16,1000,15.6,1199.00,SSD,RTX 3050
4,HP,Intel Core i5,16,512,15.6,669.01,SSD,RTX 3050

In [44]:
df.rename(columns={'Storage type1': 'Storage type'}, inplace=True)

In [45]:
df.head()

,Brand,CPU,RAM,Storage,Screen,Final Price,Storage type,Gpu
0,Asus,Intel Core i5,8,512,15.6,1009.00,SSD,RTX 3050
1,Alurin,Intel Celeron,8,256,15.6,299.00,SSD,RTX 3050
2,Asus,Intel Core i3,8,256,15.6,789.00,SSD,RTX 3050
3,MSI,Intel Core i7,16,1000,15.6,1199.00,SSD,RTX 3050
4,HP,Intel Core i5,16,512,15.6,669.01,SSD,RTX 3050